@model Clothing

<div class="col-lg-6">
    <img class="img-thumbnail" src="@Model.Imagine" alt="@Model.Model" />
    <h3>@Model.Model </h3>
    <p>@Model.Color</p>
    <p>Ціна: @Model.Price.ToString(/*"c"*/) грн</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.Id">Додати до корзини</a></p>
</div>